

nav {
    position: fixed;
    left: 4.8%;
    z-index: 100;
    height: 100%;
    top:-5px;
}

nav ul.nav {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav ul.nav li {
    height: 8px;
    border-radius: 50%;
    border:1px solid #ccc;
    cursor: pointer;
    transition: .5s;
    padding-left:8px;
    margin:5px 0;
}

.active {
    box-shadow: 0 0 0 1px white, 0 0 0 3px #939393;
}
/*
@media (max-width: 720px) {
    nav {
        bottom: 4.8%;
        width: 100%;
        height:auto;
        top:initial;
    }

    nav ul.nav {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    nav ul.nav li {
        margin:0 5px;

    }
}
*/

@media (max-width: 1080px) { 
    nav{
        left:3%;
    }
}

@media (max-width: 720px) {
    nav {
        display:none;
    }
}


